@import "tailwindcss";

@theme inline {
  --color-primary: #0E7EE4;
  --color-bg: #FFFFFF;
  --color-light-grey: #EDEFF9;
  --color-white-blue: #DBE4FF;
  --color-dark-grey: #788796;
  --color-danger: #EF4337;
  --color-success: #43A452;
  --color-dark-blue: #065BA9;
  --color-black-text: #212529;
  --font-sans: 'Inter', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #FFFFFF;
  color: #212529;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

.bg-alto {
  background: linear-gradient(77.25deg, #0E7EE4 9.22%, #14B8B4 90.78%);
}
